# 파이썬 chapter5 문제

## 1) print() 사용하기

In [8]:
#1
print(123456)

123456

In [3]:
#2
print(123)
print(456)

123
456

In [5]:
#3
print('123','456')

123 456

In [9]:
#4
print('파이썬을 배웁시다.')

파이썬을 배웁시다.

In [10]:
#5
print('파이썬을 배웁시다.')
print('누구든 할 수 있습니다.')

파이썬을 배웁시다.
누구든 할 수 있습니다.

In [11]:
#6
print(456)
print('오늘은')
print('12월 20일 입니다.')

456
오늘은
12월 20일 입니다.

## 2) 숫자다루기

In [13]:
#1
print(125+5)
print(125-5)
print(125*5)
print(125/5)

130
120
625
25.0

In [14]:
#2
print(178//13)

13

In [15]:
#3
print(178%13)

9

In [16]:
#7
print(2**10)

1024

In [18]:
#8
print(6**-3)

0.004629629629629629

In [19]:
#9
print(652==87)

False

## 3) 문자 다루기

In [20]:
#1
print('나는'+'너를...')

나는너를...

In [21]:
#3
print('*'*10)

**********

In [22]:
#5
print('a'<'b')

True

## 4) 변수

In [23]:
v1=48
v2='홍길동'
print(v1,v2)

48 홍길동

In [25]:
#5
g=1
g += 1
print(g)

2

In [26]:
#6
h=2
h *= 2
print(h)

4

In [28]:
#8
kor=96
math=72
eng=88
avg=(kor+math+eng)/3

print('홍길동의 평균 점수는'+ str(avg))

홍길동의 평균 점수는85.33333333333333